.container {
    display: flex;
    flex-direction:column;
}

.row {
    display:flex;
    flex-direction: row;
    height: 100%;
}

.cell {
    /* margin: 1px; */
    /* background-color: lightblue; */
    height: 50px;
    width: 50px;
}

/* .cell:hover {
    background-color: green;
} */